# Visual Studio
.vs/
*.suo
*.user
*.csproj.user

# .NET Core build output
bin/
obj/

# NuGet packages
*.nuget.props
*.nuget.targets
packages/

# Build results
*.dll
*.exe
*.pdb

# Debug logs
*.log

# Solution files
*.sln

# VS Code
.vscode/

# Ignore Visual Studio add-on files
*.vsidx